<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Ash Flies</title>
    <style>
      :root {
        --base: {{ colors.baseColor }};
        --header: {{ colors.transparentHeader ? 'transparent' : colors.headerColor }};
        --header-link-bg: {{ colors.headerColor }};
        --footer: {{ colors.footerColor }};
        --accent: {{ colors.accentColor }};
        --accent-alt: {{ colors.altAccentColor }};
        --base-text: {{ colors.textBaseColor }};
        --title-text: {{ colors.textBaseColor }};
        --social-links: {{ colors.socialLinksColor }};
        --animated-header: {{ colors.animatedHeaderColor }};
        --animated-header-toggle: {{ animatedHeader.animatedHeaderToggle ? 'inherit' : 'none' }};
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/librarby/player.min.css" />
  </head>
  <body>
    {% include "_components/header/noise.twig" %}
    <section class="header is-flex is-justify-content-space-between">
      {% include "_components/header/social.twig" %}
    </section>
    <div class="is-block py-5"></div>
    <section>
      <div class="is-flex is-justify-content-center pt-5">
        {% include "_components/header/site-title.twig" %}
      </div>
      <div class="is-flex is-justify-content-center pt-4">
        {% include "_components/header/nav.twig" %}
      </div>
      <div class="is-flex is-justify-content-center pt-5 has-text-centered">
        {% include "_components/_modules/newsletter-form.twig" %}
      </div>
    </section>
    <section>
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
    <section class="section footer">
      <div class="container">
      </div>
    </section>
  </body>
  <script src="https://cdn.plyr.io/3.6.4/plyr.polyfilled.js"></script>
  <script src="https://unpkg.com/htmx.org@1.3.1"
    integrity="sha384-fIzHaKYVrEFxI4/dWpMzf9tlIUPU0HmW8w/8s4nQHvZmGQhXhnEM6aenC6QFkd7e"
    crossorigin="anonymous"></script>
  <script src="/assets/js/plyr-settings.js" defer></script>
</html>
