{% extends "_base" %}

{% block content %}
  <div class="front">
    {% for item in entry.frontDisplay.all() %}
      {% set asset = item.cover.one() %}
      {% set libItem = item.libraryItem.one() %}  
      <div class="front-display">
        {% if asset %}
          {% if asset.kind == "image" %}
            {% if libItem %}
              <a class="front-display-content__a pt-2" href="{{libItem.uri}}">
                <image class="front-display-content__img" src="{{ asset.url }}">
              </a>
            {% else %}
              <image class="curation-item-content__img" src="{{ asset.url }}">
            {% endif %}
          {% elseif asset.kind == "video" %}
            <video class="front-display-content__vid" autoplay playsinline controls data-plyr-config='{ "controls": ["play-large"] }'>
              <source src="{{ asset.url }}" type="video/mp4">
            </video>
            {% if libItem %}
              <a class="front-display-content__a is-block pt-2" href="{{libItem.uri}}">Go to page ></a>
            {% endif %}
          {% endif %}
        {% endif %}
        {% if item.caption != '' %}
          <p class="pt-1">{{ item.caption }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <div class="curation">
      {% for item in entry.curation.all() %}
        {% set libItem = item.libraryItem.one() %}
        {% set asset = item.cover.one() %}
        <div class="curation-item p-5">
          <div class="texture curation-snap">
            <svg class="texture__svg">
              {% include "_components/svg/fractal-filter.html" %}
              <rect x="0" y="0" width="100%" height="100%" filter="url(#fractalFilter)">
            </svg>
            <div class="curation-item-content">
              <p class="py-2 is-size-5">{{item.category}}</p>
              {% if asset %}
                {% if asset.kind == "image" %}
                  {% if libItem %}
                    <a class="curation-item-content__a pt-2" href="{{libItem.uri}}">
                      <image class="curation-item-content__img" src="{{ asset.url }}">
                    </a>
                    <a class="curation-item-content__a is-block pt-2" href="{{libItem.uri}}">Go to page ></a>
                  {% else %}
                    <image class="curation-item-content__img" src="{{ asset.url }}">
                  {% endif %}
                {% elseif asset.kind == "video" %}
                  <video class="curation-item-content__vid" playsinline controls data-plyr-config='{ "controls": ["play-large"] }'>
                    <source src="{{ asset.url }}" type="video/mp4">
                  </video>
                  {% if libItem %}
                    <a class="curation-item-content__a is-block pt-2" href="{{libItem.uri}}">Go to page ></a>
                  {% endif %}
                {% endif %}
              {% endif %}
              <div class="curation-item-content-detail">
                <h4 class="pt-2 is-size-5">{{ item.headline }}</h4>
                <p class="pt-1">{{ item.caption }}</p>
                {% if libItem %}
                  <div>
                    <audio preload="metadata" playsinline>
                      <source src="{{ libItem.episodeAudio }}" type="audio/mp4">
                    </audio>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
