{% extends "_base" %}

{% block content %}  
  <div class="curation" id="curation">
    {% for item in entry.curation.all() %}
      {% set libItem = item.libraryItem.one() %}
      {% set asset = item.cover.one() %}
      {% set className = 'curation-view--' ~ random() %}
      <div class="curation-item" data-class="{{className}}">
        <div class="curation-item-content">
          {% if asset %}
            {% if asset.kind == "image" %}
              {% if libItem %}
                <a class="curation-item-content__a pt-2" href="{{libItem.uri}}">
                  <image class="curation-item-content__img" src="{{ asset.url }}">
                </a>
              {% endif %}
            {% elseif asset.kind == "video" %}
              <video class="curation-item-content__vid" playsinline controls 
                data-plyr-config='{ "controls": ["play-large"] }'>
                <source src="{{ asset.url }}" type="video/mp4">
              </video>
            {% endif %}
          {% endif %}
          <div class="curation-item-content-detail">
            <p class="py-2 is-size-5">{{item.category}}</p>
            <h4 class="pt-2 is-size-5">{{ item.headline }}</h4>
            {% if libItem %}
              <a class="curation-item-content__a is-block pt-2" 
                href="{{libItem.uri}}">Go to page ></a>
            {% endif %}
            <p class="pt-1">{{ item.caption }}</p>
            {% if libItem %}
              <div class="curation-item-content-plyr">
                <audio preload="metadata" playsinline>
                  <source src="{{ libItem.episodeAudio }}" type="audio/mp4">
                </audio>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <style>
        .{{className}} {
          background-color: {{item.primaryColor}} !important;
          color: {{item.textMainColor}} !important;
        }
        {% if item.textSecondaryColor %}
          .{{className}} p,
          .{{className}} a {
            color: {{item.textSecondaryColor}} !important;
          }
        {% endif %}
      </style>
    {% endfor %}
  </div>
  <script>
    const el_curationItems = document.getElementsByClassName('curation-item'),
          options = {
            root: document.querySelector('#curation'),
            rootMargin: '0px',
            threshold: 1
          };
    
    const observer = new IntersectionObserver(curationUpdateStyle, options);
    
    for(el_curationItem of el_curationItems){
      observer.observe(el_curationItem);
    };
    
    function curationUpdateStyle(entries, observer){
      let curatedItemClass = entries[0].target.getAttribute('data-class');
      observer.root.className = "curation";
      observer.root.classList.add(curatedItemClass);
    };
  </script>
{% endblock %}
